#HomePage
{
    -fx-padding: 20 20 20 20;
    -fx-background-insets: 15;
    -fx-background-radius: 25;
    -fx-background-color: #3C3F41;
    -fx-border-width: 8;
    -fx-border-radius: 15;
    -fx-border-insets: 13;
}

#TablePageButton
{
    -fx-padding: 0 0 60 0;
    -fx-max-height: 200;
    -fx-max-width: 200;
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-background-color: #808080;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-background-image: url("../images/homePageIcons/spreadsheet.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100px 100px;
    -fx-background-position: bottom;
}
#TablePageButton:hover
{
    -fx-background-color: #3E86A0;
}
#TablePageButton:pressed
{
    -fx-background-color: #808080;
}

#BarGraphButton
{
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 0 0 20 0;
    -fx-background-image: url("../images/homePageIcons/barGraphClipart.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;
}
#BarGraphButton:hover
{
    -fx-background-color: linear-gradient(darkgrey, white);
}
#BarGraphButton:pressed
{
    -fx-background-color: linear-gradient(grey, lightgrey 60%);
}

#PieGraphButton
{
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 0 0 20 0;
    -fx-background-image: url("../images/homePageIcons/pieGraphClipart.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;

}
#PieGraphButton:hover
{
    -fx-background-color: linear-gradient(darkgrey, white);
}
#PieGraphButton:pressed
{
    -fx-background-color: linear-gradient(grey, lightgrey 60%);
}

#LineGraphButton
{
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 0 0 20 0;
    -fx-background-image: url("../images/homePageIcons/lineGraphClipart3.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;
}
#LineGraphButton:hover
{
    -fx-background-color: linear-gradient(darkgrey, white);
}
#LineGraphButton:pressed
{
    -fx-background-color: linear-gradient(grey, lightgrey 60%);
}

#TableGraphButton
{
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 0 0 20 0;
    -fx-background-image: url("../images/homePageIcons/barGraphClipart.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;
}
#TableGraphButton:hover
{
    -fx-background-color: linear-gradient(darkgrey, white);
}
#TableGraphButton:pressed
{
    -fx-background-color: linear-gradient(grey, lightgrey 60%);
}

#BudgetButton
{
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#BudgetButton:hover
{
    -fx-background-color: linear-gradient(darkgrey, white);
}
#BudgetButton:pressed
{
    -fx-background-color: linear-gradient(grey, lightgrey 60%);
}

#LogButton
{
    -fx-font-weight: bolder;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 0 0 60 0;
    -fx-background-image: url("../images/homePageIcons/logClipart2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100px 100px;
    -fx-background-position: bottom;
}
#LogButton:hover
{
    -fx-background-color: linear-gradient(darkgrey, white);
}
#LogButton:pressed
{
    -fx-background-color: linear-gradient(grey, lightgrey 60%);
}