.root
{
    -fx-background-image: url("../images/background/background.gif");
}

#toolBarButton
{
    -fx-background-color:
            #707070,
            linear-gradient(#fcfcfc, #f3f3f3),
            linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 20 3 20;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

#toolBarButton:hover
{
    -fx-background-color: linear-gradient(#6E6D6B, #A6AA9F);
}

#toolBarButton:pressed
{

}


#topContainer
{
    -fx-background-color: lightgrey;
}