.root
{
    -fx-background-color: #192231;
}

#TablePage
{
    -fx-padding: 6;
    -fx-background-insets: 15;
    -fx-background-radius: 25;
    -fx-background-color: #192231;
    -fx-border-color: #192231;
    -fx-border-width: 8;
    -fx-border-radius: 15;
    -fx-border-insets: 13;
}

.tab-pane {
    -fx-tab-min-width: 80px;
}
.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.tab-header-background {
    -fx-opacity: 0;
}
.tab {
    -fx-background-radius: 12 12 0 0;
}
.tab:selected {
    -fx-font-weight: bolder;
    -fx-stroke: red;
    -fx-stroke-width: 2;
    -fx-font-size: 120%;
    -fx-tab-min-height: 120%;
}
.tab-label {
    -fx-alignment: center;
}

BorderPane {
    -fx-background-color: white;
}
GridPane {
    -fx-padding: 8;
    -fx-background-color: white;
    -fx-min-height: 80;
}

#SearchButton {
    -fx-min-width: 50;
}
#ResetButton {
    -fx-min-width: 40;
}

.progress-indicator {
    -fx-max-width: 80;
    -fx-max-height: 80;
}

.table-row-cell {
    -fx-font-size: 13;
}
.table-row-cell:selected{
    -fx-background-color: #8ed6e9;
}