.split-pane *.split-pane-divider {
    -fx-padding: 1 0 1 0;
}
.importAndUpdate{
    -fx-font-family: cursive;
    -fx-font-size: 2em;
    -fx-underline: true;
}
/* It goes Top, Right, Bottom, Left for padding in CSS. */
.browseAndImportButtonBar{
    -fx-padding: 0 0 6000em 0;
    -fx-end-margin: -500em;
}
.directoryTextField{
    -fx-padding: 0 0 1em 0;
}